<a href="https://colab.research.google.com/github/amandazevedo01/MachineLearning_/blob/main/Aula_1_csv_de_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importando a biblioteca pandas
import pandas as pd

In [ ]:
df = pd.read_csv('/content/Gapminder.csv', error_bad_lines=False , sep=';')

FileNotFoundError: ignored

In [ ]:
# visualizando as 5 primeiras linhas
df.head()

In [ ]:
df= df.rename(columns={'country':"Pais",'continent': 'Continente', 'year':'ano', 'lifeExp': 'Expectativda de vida','pop': 'Pop Toal', 'gdpPercap': 'PIB'})

In [ ]:
df.head(10)

In [ ]:
#total de linhas e colunas
df.shape

(3312, 6)

In [ ]:
df.columns

Index(['Pais', 'Continente', 'ano', 'Expectativda de vida', 'Pop Toal', 'PIB'], dtype='object')

In [ ]:
df.dtypes

Pais                     object
Continente               object
ano                       int64
Expectativda de vida    float64
Pop Toal                  int64
PIB                     float64
dtype: object

In [ ]:
# As Ultimas linhas
df.tail(1)

          Pais Continente   ano  Expectativda de vida  Pop Toal         PIB
3311  Zimbabwe     Africa  2007                43.487  12311143  469.709298

In [ ]:
# retorna informacoes estatisticas dos dados
#mean = media
#std = desvio padrao
df.describe()

               ano  Expectativda de vida      Pop Toal            PIB
count  3312.000000           3312.000000  3.312000e+03    3312.000000
mean   1980.301630             65.246871  3.161489e+07   11317.115805
std      16.927294             11.768412  1.041193e+08   11369.142739
min    1950.000000             23.599000  5.941200e+04     241.165877
25%    1967.000000             58.337500  2.678572e+06    2514.625266
50%    1982.000000             69.610000  7.557218e+06    7838.505123
75%    1996.000000             73.657750  1.958522e+07   17357.879170
max    2007.000000             82.670000  1.318683e+09  113523.132900

In [ ]:
#filtros
df['Continente'].unique()

array(['Asia', 'Europe', 'Africa', 'Americas', nan, 'FSU', 'Oceania'],
      dtype=object)

In [ ]:
oceania = df.loc[df['Continente']=='Oceania']

In [ ]:
oceania.head()

     Pais Continente   ano  Expectativda de vida  Pop Toal          PIB
975  Fiji    Oceania  1962                56.494    421869  2039.393277
976  Fiji    Oceania  1967                58.607    485000  2170.073285
977  Fiji    Oceania  1972                60.642    544000  2797.759484
978  Fiji    Oceania  1977                62.669    599339  3182.569600
979  Fiji    Oceania  1982                64.683    658906  3209.257468

In [ ]:
oceania['Continente'].unique()

array(['Oceania'], dtype=object)

In [ ]:
#Agrupando
#nunique - soma os grupos
df.groupby('Continente')['Pais'].nunique()

Continente
Africa      51
Americas    25
Asia        41
Europe      35
FSU          6
Oceania      3
Name: Pais, dtype: int64

In [ ]:
df.groupby('ano')['Expectativda de vida'].mean()

NameError: ignored

In [ ]:
#media
df['PIB'].mean()

11317.115804696637

In [ ]:
#soma
df['PIB'].sum()

37482287.5451553