<a href="https://colab.research.google.com/github/amandazevedo01/MachineLearning_/blob/main/Copy_of_Analise_Exploratoria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')
import pickle

In [ ]:
from google.colab import files
arq = files.upload()

Saving Zona_Norte.pkl to Zona_Norte.pkl

In [ ]:
arq = open('Zona_Norte.pkl','rb')

In [ ]:
pickle.load(arq)

EOFError: ignored

In [ ]:
#qtde de linhas e colunas
df.shape

(904, 16)

In [ ]:
df.dtypes

Data Venda        datetime64[ns]
Data Envio        datetime64[ns]
ID Loja                    int64
ID Produto                 int64
ID Cliente                 int64
No. Venda                 object
Custo Unitário           float64
Preço Unitário           float64
Quantidade                 int64
Valor Desconto           float64
Valor Venda              float64
Produto                   object
Fabricante                object
Marca                     object
Classe                    object
Cor                       object
dtype: object

In [ ]:
# Qual foi a receita total ? 
df['Valor Venda'].sum()

5984606.1426

In [ ]:
#CUSTO
df['Custo'] = df['Custo Unitário'].mul(df['Quantidade'])

In [ ]:
df.head()

  Data Venda Data Envio  ID Loja  ...   Classe  Cor    Custo
0 2008-05-09 2008-05-29      199  ...  Regular  Red  2091.48
1 2008-05-12 2008-05-17      306  ...  Regular  Red  2091.48
2 2008-05-14 2008-05-20      306  ...  Regular  Red  2091.48
3 2008-05-21 2008-05-27      306  ...  Regular  Red  2091.48
4 2008-06-20 2008-06-27      306  ...  Regular  Red  2091.48

[5 rows x 17 columns]

In [ ]:
#qual custo total ? 
# round coloca as casas decimais
round(df['Custo'].sum(),2)

2486783.05

In [ ]:
#CALCULANDO O LUCRO
df['Lucro'] = df['Valor Venda'] - df['Custo']

In [ ]:
#TOTAL LUCRO
round(df['Lucro'].sum(),2)

3497823.09

In [ ]:
#Quanto tempo de envio ? 
#dt.days é pra pegar apenas os dias, se nao ele vem '24 Days' com dt.days vem 24
df['Tempo Envio'] = (df['Data Envio'] - df['Data Venda']).dt.days

In [ ]:
#media do tempo de envio para cada marca
df.groupby('Marca')['Tempo Envio'].mean()

Marca
Adventure Works    8.663866
Contoso            8.470930
Fabrikam           8.510121
Name: Tempo Envio, dtype: float64

In [ ]:
#verificando se tem valor nulo
df.isnull().sum()

Data Venda        0
Data Envio        0
ID Loja           0
ID Produto        0
ID Cliente        0
No. Venda         0
Custo Unitário    0
Preço Unitário    0
Quantidade        0
Valor Desconto    0
Valor Venda       0
Produto           0
Fabricante        0
Marca             0
Classe            0
Cor               0
Custo             0
Lucro             0
Tempo Envio       0
dtype: int64

In [ ]:
#Lucro por ano e por marca
df.groupby([df['Data Venda'].dt.year, 'Marca'])['Lucro'].sum()

Data Venda  Marca
2008        Adventure Works    3.066412e+05
            Contoso            5.641600e+04
            Fabrikam           1.557021e+06
2009        Adventure Works    4.053951e+05
            Contoso            1.382590e+05
            Fabrikam           1.034091e+06
Name: Lucro, dtype: float64

In [ ]:
pd.options.display.float_format = '{:20,.2f}'.format

In [ ]:
#RESETANDO O INDEX
lucro_ano = df.groupby([df['Data Venda'].dt.year, 'Marca'])['Lucro'].sum().reset_index()
lucro_ano

   Data Venda            Marca                Lucro
0        2008  Adventure Works           306,641.16
1        2008          Contoso            56,416.00
2        2008         Fabrikam         1,557,020.55
3        2009  Adventure Works           405,395.08
4        2009          Contoso           138,258.95
5        2009         Fabrikam         1,034,091.35

In [ ]:
#QUAL TOTAL DE PRODUTOS VENDIDOS ? 
df.groupby(df['Produto'])['Quantidade'].sum().sort_values(ascending=False)

Produto
Headphone Adapter for Contoso Phone E130 Silver    25232
Headphone Adapter for Contoso Phone E130 White     25008
Adventure Works Laptop15.4W M1548 Black             1089
Fabrikam Trendsetter 2/3'' 17mm X100 Grey           1087
Adventure Works Laptop15.4W M1548 Red               1047
Fabrikam Trendsetter 2/3'' 17mm X100 Black           926
Fabrikam Trendsetter 1/3'' 8.5mm X200 Black          884
Fabrikam Trendsetter 1/3'' 8.5mm X200 Grey           845
Fabrikam Trendsetter 1/3'' 8.5mm X200 White          789
Name: Quantidade, dtype: int64